/* 4 cards bredd, dark blue/pink selected ingen transparans, hover border i kontrastfärg samt skugga, default skugga och ljusare eller samma som hover. valt kort skall ha dropshadow */

body {
  background: #FAFBFF;
  /* margin: 0; */
  font-family: "Roboto Condensed", serif;
}



.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 0.5fr 1.5fr; */
  grid-template-areas:
    "header header header header"
    "filter-and-sort filter-and-sort filter-and-sort filter-and-sort"
    "recipe-card recipe-card recipe-card recipe-card";
}

.header {
  grid-area: header;


}

h1 {
  font-size: 64px;
  color: #0018A4;
  margin: 64px 0 64px 32px;
}

h2 {
  font-size: 22px;
}

.filter-and-sort {
  grid-area: filter-and-sort;
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  gap: 16px;




}

input[type="button"] {
  border: none;
  border-radius: 50px;
  background: #CCFFE2;
  padding: 8px 16px;
  color: #0018A4;
  font-family: "Roboto Condensed", serif;
  font-size: 24px;
  margin: 5px 0;
  cursor: pointer;
}

input.sort-btn {
  background: #FFECEA;
}

input[type="button"]:hover {
  border: 2px solid #0018A4;

}

input.filter-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

input.filter-btn.selectedButton {
  background: #0018A4;
  color: #FFF;
}

input.sort-btn:hover {
  background: #FF6589;
  color: #FFF;

}

input.sort-btn.selectedButton {
  background: #FF6589;
  color: #FFF;
}


.more-filter {
  grid-area: more-filter;
  border: 3px solid #0018A4;
  height: 250px;
  border-radius: 16px;
  padding: 16px;
}

.card {
  border: 3px solid #0018A4;
  padding: 16px;
  padding-bottom: 24px;
  border-radius: 16px;
  border: 1px solid #E9E9E9;
  background: #FFF;
  cursor: pointer;
  margin: 10px 0;


}

.card:hover {

  border: 2px solid #0018A4;
  box-shadow: 0px 0px 30px 0px rgba(0, 24, 164, 0.20);
}

img {
  height: 200px;
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 600px) {}


@media only screen and (min-width: 768px) {
  .recipe-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "more-filter . . ."
      "more-filter . . ."
      "more-filter . . .";
    grid-area: recipe-card;

  }
}